*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Experiences{
    margin-bottom: 10px;
}

#Experiences .formations{
    display: flex;
}

#Experiences .formations .formadate{
    width: 28%;
}
#Experiences .formations .formacontenet{
    width: 72%;
}

#Experiences .formations .formacontenet p{
    font-size: 18px;
    padding-inline: 5px;
}

#Experiences .formations .formacontenet span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#Experiences .spans{
    display: flex;
    flex-direction: column;
}
#Experiences .spans span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#Experiences .formacontenet{
    margin-bottom: 10px;
}
#Experiences .formacontenet .icons{
    font-size: 6px;
    color: black;
    margin: 10px;
}

#Experiences .title{
    background-color: rgb(240, 236, 236);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 5px;
}
#Experiences .title .icons{
    margin-bottom: 6px;
    margin-right: 2px;
    font-size: 18px;
    color: rgb(2, 2, 97);
}
#Experiences .formations .formadate .icons{
    font-size: 18px;
    font-weight: bold;
    color: rgb(2, 2, 97);
    margin-left: 0.5rem;
}

#Experiences .formations .formadate p{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#Experiences h3{
    color: rgb(2, 2, 97);
    width: 100%;
    font-size: 22px;
}

#Experiences .contitle{
    display: flex;
    margin-bottom: 0.5rem;
}

#Experiences .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-left:20px solid rgb(240, 236, 236); 
}