*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#projects{
    margin-top: 3rem;
}

#projects h2{
    color: #000;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

#projects .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 31.3rem;
    gap: 1.6rem;
    padding: 1rem;
}

#projects  .cart {
    box-shadow: 0 4px 8px 0 black;
    color: #000;
    border-radius: 7px;
    background-image: linear-gradient( #2bb7f8, #fff);
    height: 31.3rem;
}

#projects  .cart span{
    font-weight: bold;
    padding-right: 0.5rem;
}

#projects  .cart .cart_head{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 33%;
    background-color: greenyellow;
    width: 100%;
}

#projects  .cart .cart_head img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#projects  .cart .cart_body{
    padding: 0.5rem;
    height: 67%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

}

#projects  .cart .cart_body .title{
    font-size: 16px;
    font-weight: bold;
}

#projects  .cart .cart_body p{
    font-size: 15px;
}

#projects  .cart .cart_body .cartFooter{
    width: 100%;
}

#projects  .cart .cart_body .buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#projects  .cart .cart_body .buttons button{
    color: #6f34fe;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    outline: none;
}


#projects  .cart .cart_body .buttons .live{
    color: orange;
}