*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#projects{
    margin-top: 3rem;
    padding-bottom: 2rem;
}

#projects h2{
    color: #000;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

#projects .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 1rem;
}

#projects  .cart {
    box-shadow: 0 4px 8px 0 black;
    color: #000;
    border-radius: 5px;
    background-image: linear-gradient( #2bb7f8, #fff);
}

#projects  .cart span{
    font-weight: bold;
    padding-right: 0.5rem;
}

#projects  .cart .cart_head{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 180px;
    background-color: greenyellow;
}

#projects  .cart .cart_head img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#projects  .cart .cart_body{
    padding: 0.5rem;
    padding-inline: 1rem;
}

#projects  .cart .cart_body .title{
    font-size: 16px;
    font-weight: 700;
}

#projects  .cart .cart_body p{
    font-size: 15px;
}

#projects  .cart .cart_body .desc{
    height: 7rem;
    margin-bottom: 0.7rem;
}

#projects  .cart .cart_body .buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#projects  .cart .cart_body .buttons button{
    background-color: #6f34fe;
    color: white;
}

#projects  .cart .cart_body .buttons .live{
    background-color: orange;
}